.sidebar-link.active::before,
.sidebar-link:hover::before {
  content: '';
  position: absolute;
  left: -20px;
  /* This should match your horizontal margin (e.g., mx-8 = 2rem = 32px) */
  top: 0;
  height: 100%;
  width: 7px;
  /* You can adjust the thickness */
  background-color: #2A9DF4;
  /* This is your skyBlueColor */
  border-radius: 5px;
  /* Rounds the right corners of the bar */
}

.before-class.active img,
.before-class:hover img {
  filter: brightness(0) invert(1);
}



//logout tab
.logout-link {
  position: relative;
}

.logout-link::before {
  content: "";
  position: absolute;
  left: -20px;
  /* This should match your horizontal margin (e.g., mx-8 = 2rem = 32px) */
  top: 0;
  height: 100%;
  width: 7px;
  /* thickness of the bar */
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout-link:hover::before {
  background-color: #2A9DF4;
  /* or your mainColor */
}

.logout-link:hover {
  img {
    filter: brightness(0) invert(1);
  }
}